/* Estilos para la tarjeta */
.card {
    border: 1px solid #d41919;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  /* Estilos para el título del horóscopo */
.card h1 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #be1c1c;
}

  /* Estilos para el contenido del horóscopo */
.card-content {
    font-size: 18px;
    line-height: 1.5;
}

.card-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.card-content p {
    color: #1eb9f1;
}
